domain       = "example.com"
alert_email  = "you@example.com"
github_token = "ghp_..."

grafana_url          = "https://example.grafana.net"
grafana_sa_token     = "glsa_..."
discord_webhook_url  = "https://discord.com/api/webhooks/..."
prom_datasource_uid  = "grafanacloud-example-prom-uid"
